/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 2, 2018, 6:16:00 PM
    Author     : User
*/

#mainDiv{ width:80%;
        height: auto;
        margin: 0 auto;
background-color: cornsilk}

.row{ width:100%;
     height:auto;
        }

.leftcol{height: auto;
        width:20%;
        float:left;}

.rightcol{height:auto;
            width:80%;
            float:left;}

h1{color:green;}