/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 29, 2018, 5:14:46 PM
    Author     : User
*/

h1{color:green;
 font-size:40px;
text-align:center;
font-style:italic;
}

ul {
    list-style-image: url('images/list.jpg');
    }